.properties{
    padding-top: 1vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 5vw;
    float:left;
    width:30vw;
    min-height: 100px;
    height:100%;
    background-color: #e7ffc0;
    font-size: 35px;
}

.mainScreen{
    position: absolute;
    float:left;
    left: 35vw;
    width: 65vw;
    min-height:100vh;
    background-color: #fff;
}

#zero {
    width: 20%;
    padding-left: 10%;
    top: 20%;
    position: absolute;
}

#one {
    width: 20%;
    padding-left: 70%;
    top: 70%;
    position: sticky;
}

#two {
    width: 20%;
    padding-left: 70%;
    top: 20%;
    position: sticky;
}

#three {
    width: 20%;
    padding-left: 10%;
    top: 70%;
    position: sticky;
}

.N {
    width: min-content;
    top: 5%;
    position: relative;
    left: 50%;
    color: rgb(80, 83, 247);
    font-size: 40px;
    box-shadow: 5px 8px 16px  #000;
}


/*
.table-content {
    padding: 3px;
    display: block;
    position: inherit;
    background-color: rgba(144, 215, 145, 0.7);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    overflow-y: scroll;
}

#datalist {
}

.table-dropdown:hover .table-content { display: block; height: 45vh;}

.table-dropdown:hover .tablebtn {background-color: #3e8e41;}

table, td, th {
    border: 1px solid black;
}

table {
    text-align: left;
    width: 100%;
    font-size: 25px;
    border-collapse: collapse;
}

td {cursor: pointer;}
*/

.gt {
    font-size: 25px;
    padding: 20px;
    background-color: #43a546;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 8px black;
}

body{
    overflow-y: hidden;
    margin: 0;
    align-items:center;
    justify-content: center;
  }

.rotate{
  transition:all .1s;
}

.centerPoint{
    z-index: 2;
    color: gray;
    position: sticky;
    padding-left: 50%;
    top: 45%;
}

.arrow {
    position: absolute;
    top: 35%;
    left: 52%;
    display: block;
    width: 25%;
    transform: rotate(90deg);
    z-index: 1;
    filter: drop-shadow( 1px 1px 5px rgba(255, 190, 0, .5));
}

p {
    margin-left: 5%;
}

.heli {
    position: absolute;
    top: 35%;
    left: 52%;
    display: block;
    width: 25%;
    transform: rotate(90deg);
}