.properties{
    padding-top: 1vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 5vw;
    float:left;
    width:15vw;
    min-height: 100px;
    height:100%;
    background-color: #e7ffc0;
    font-size: 35px;
}

.mainScreen{
    position: absolute;
    float:left;
    left: 20vw;
    width: 80vw;
    min-height:100vh;
    background-color: #fff;
}

#zero {
    width: 20%;
    padding-left: 10%;
    top: 20%;
    position: absolute;
}

#one {
    width: 20%;
    padding-left: 70%;
    top: 70%;
    position: sticky;
}

#two {
    width: 20%;
    padding-left: 70%;
    top: 20%;
    position: sticky;
}

#three {
    width: 20%;
    padding-left: 10%;
    top: 70%;
    position: sticky;
}

.N {
    z-index: 5;
    width: min-content;
    margin-top: 3%;
    position: relative;
    left: 49%;
    color: rgb(80, 83, 247);
    font-size: 40px;
    box-shadow: 5px 8px 16px  #000;
}

.gt {
    font-size: 25px;
    padding: 50px;
    background-color: #43a546;
    text-align: center;
    border-radius: 30%;
    box-shadow: 3px 3px 8px black;
}

body{
    overflow-y: hidden;
    margin: 0;
    align-items:center;
    justify-content: center;
  }

.rotate{
  transition:all .1s;
}

.centerPoint{
    z-index: 2;
    color: gray;
    position: sticky;
    padding-left: 50%;
    top: 50%;
}

.arrow {
    position: absolute;
    left: 23.5vw;
    top: 25vh;
    display: block;
    width: 33vw;
    z-index: 1;
    filter: drop-shadow( 1px 1px 5px rgba(255, 190, 0, .5));
}

.heli {
    position: absolute;
    top: 46%;
    left: 38%;
    display: block;
    width: 25%;
    transform: rotate(90deg);
}
p {
    margin-left: 5%;
}

.alarmScr {
    border: #ff8500 solid;
    border-left-width: 3vw;
    border-right-width: 3vw;
    border-top-width: 5vh;
    border-bottom-width: 5vh;
    display: none;
    position: absolute;
    left: 18vw;
    width: 76vw;
    min-height: 90vh;
    z-index: 3;
    overflow: hidden;
}

h1 {
    z-index: 4;
    position: absolute;
    bottom: 1vw;
    left: 25.5vw;
    color: #ff0000;
    background-color: black;
    text-align: center;
    font-size: 3vw;
}

#alarmTxt{
    display: none;
}
